// ==============================
// Override Variables
// 覆盖变量
// ==============================

// Color of the single link
$single-link-color: gray !default;
$single-link-color-dark: gray !default;

// Color of the hover single link
$single-link-hover-color: green !default;
$single-link-hover-color-dark: green !default;